.Duis{
    color: rgb(7, 7, 90);
    font-size: 2rem;
    margin-top: 100px;
    text-align: left;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nibah{
    color: rgba(128, 128, 128, 0.767);
    font-size: 1.4rem;
    text-align: left;
}