.main-container{
    width: 100%;
    height: 460px !important;
    background-color: rgba(212, 203, 203, 0.219) !important;
    margin-top: 50px !important;
}
.images{
width: 250px;
height: 250px;
/* background-color:gray; */
border-radius: 120px;
margin-left: 50px;
margin-top: 20px;
}
.imagesBox{
    width: 100%;
    height: 100%;
    border-radius: 120px;
}
.sarah{
    color: rgba(10, 10, 112, 0.801);
    font-size: 2rem;
    font-weight: 500;
}
.pretium{
    color: gray;
    font-size: 1.2rem;

}











@media screen and (max-width: 600px) {
    .main-container{
        width: 100%;
        height: 2000px !important;
        background-color: rgba(212, 203, 203, 0.219) !important;
        margin-top: 50px !important;
    }

}