.register{
    width: 400px;
    box-shadow: 0 0 15px 5px gray;
    background-color: white;
    /* background-color: rgba(139, 130, 130, 0.397); */
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb (0 0 0 /10%),0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 60px;
}
.register > .inpt{
    border-radius: 8px;
    outline: none;
    border: 2px solid #dddfe2;
    color: #1d2129 !important;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 98%;
    margin-left: -10px;
    /* width: 200px; */
    font-size: 1rem;

}
.register > .button{
        background-color: #1877f2;
        border: 1px solid #1877f2;
        color: #fff;
        font-size: 1.25rem;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
}