.customer{
    margin-top: 100px;
}
.textColor{
    color: rgb(4, 4, 121);
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subTextColor{
    color: gray;
    font-size: 1.2rem;
}
.paraColor{
    color: gray;
    /* width: 270px; */
    /* padding-left: 40px; */
}
.btnMoreinfo{
    background-color: rgb(6, 6, 71);
    width: 150px;
    height: 40px;
    border-radius: 27px;
    border: none;
    color: white;
}
.iconsPlace{
    width: 80px;
    height: 80px;
    margin-left: 160px;
   
}
.IconsPlace{
    width: 100%;
    height: 100%;
    /* padding-right: 100px; */
}