.pall{
    color: #11a5ce;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -40px;
}
.viva{
    font-size: 1.2rem;
    color: gray;
    text-align: left;
    /* margin-top: 30px; */
}
.pict{
    color: rgb(9, 9, 156);
    font-weight: 500;
    font-size: 3rem;
    margin-top: 100px;
}
#icn{
    font-size: 3rem;
    color: #11a5ce;
    /* padding-top: -400px; */
    margin-top: -500px !important;
    margin-left: -20px;
}
.arrow{
    /* transition: all 0.05s ease-in-out ; */
    width: 400px;
    margin-top: 500px;
    margin-bottom: -200px;
    margin-left: -30px;
    /* padding-top: 300px !important; */
    height: 300px;
    border: solid 5px gray;
    border-color:rgba(128, 128, 128, 0.534) transparent transparent transparent;
    border-radius: 100%/500px 500px 0 0;
    /* padding-top: -800px; */


}
.up{
    /* padding-top: -300px !important; */
 margin-top: -400px;
}
